<h2>EAIR Systems</h2>
<p>The system that we are demonstrating today is of the Enterprise Architecture Information Repository. This is the same system that was demonstrated in the "EAIR today" portion of our presentation.</p>
<p>According to DHS, a system is a collection of "end products enabling products to achieve a given purpose." With EAIR as the system we are exploring, we want to provide users with a ready-made 
        architecutre diagram of the products, investments, and activities that make EAIR what it is today.
</p>
<p>Below is a working example of the investments, products, data assets, systems, and activities that are associated with EAIR. Know that this force chart is a work in progress.</p>

<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
